$bg-color: #dddddd
$border-color: #36454F

table 
  font-family: arial, sans-serif
  border-collapse: collapse
  margin-top: 20px
  border: 1px solid $border-color

th 
  text-align: left
  border: 1px solid $border-color
  padding: 8px

td
  text-align: left
  border: 1px solid $border-color
  padding: 8px

tbody
  cursor: pointer

.employee-photo
  width: 10%
  
.fw-bold
  font-weight: bold

.input-style
  width: 50px
  height: 50px
  font-size: 20px
  text-align: center

tr:nth-child(even) 
  background-color: $bg-color

.ml-10
  margin-left: 10px